html.bg-dornier body {
    background: url("../images/presentation/lake_large.jpg");
}
span.zuehlke-header:before {
    content: "Agilo Boards - ";
    font-weight: normal;
    color: #dddddd;
}

html.zuehlke-bg-parallax body {
    background-image: url("../images/presentation/sidney_night.jpg");
}

/* Style for print parallax */
body.print-pdf section.zuehlke-bg-parallax{
    /*Make sure paralax background is visible when print mode is active*/
    background: url("../../images/presentation/sidney_night.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

html.agiloboards-bg-parallax body {
    background-image: url("../images/presentation/scrum-board.png");
    background-repeat: no-repeat;
    background-size: contain;
}
div.zuehlke-splash-title.orange {
    color: white;
    background-color: #FE6100;
    padding: 20px;
    margin: 150px;
}

/* Style for print parallax */
body.print-pdf section.agiloboards-bg-parallax{
    /*Make sure paralax background is visible when print mode is active*/
    background: url("../../images/presentation/scrum-board.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

div.tools {
    width: 1200px;
}

div.tool {
    margin: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    height: 250px;
    width: 200px;
}

div.tool img {
    margin: 0px -40px;
    width: 150px;
    height: 150px;
}

div.dropable {
	margin: 15px auto;
	width: 90%;
	height: 200px;
	border: 7px solid grey;
	border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
}

div.draggable {
    background-repeat: no-repeat;
    background-size: 200px 200px;
    display: inline-block;
    height: 200px;
    width: 200px;
}

div.draggable#draggable-angularjs {
    background-image: url("../../images/presentation/tools-angularjs.jpg");
}

div.draggable#draggable-jsp {
    background-image: url("../../images/presentation/no-tools-jsp.jpg");
}

div#constributors {
    text-align: center;
}

div#constributors div {
    display: inline-block;
    padding: 20px 50px;
}

div#constributors div img {
    max-width: 150px;
    height: 150px;
}